spring:
    application:
        name: sportshub-backend
    datasource:
        url: jdbc:h2:file:./data/testdb;AUTO_SERVER=TRUE
        driver-class-name: org.h2.Driver
        username: sa
        password:
    jpa:
        hibernate:
            ddl-auto: create-drop
        defer-datasource-initialization: true
    sql:
        init:
            mode: always
server:
    port: 8082
external-api:
    base-url: http://localhost:3000
